.button-default {
    transition: ease-out 0.3s;
    background: var(--primary_accent);
    border: solid #66a182 1px;
    border-radius: 10px;
    width: 300px;
    font-weight: 600;
    font-size: 26px;
    padding: 10px;
    margin-bottom: 50px;
    text-align: start;
    display: flex;
    justify-content: center;    
}

.button-default:hover {
    transition: ease-in 0.3s;
    border: solid 1px;
    background: var(--background);
    border-color: var(--primary_accent);
    color: var(--primary_accent);
}