.button-primary {
    transition: ease-out 0.3s;
    background: var(--secondary_accent);
    border-radius: 10px;
    width: clamp(200px, 100px, 300px);
    font-weight: 600;
    font-size: clamp(1.4rem, 3vw, 1.5rem);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    height: auto;
    justify-content: center;
}

.button-primary:hover {
    transition: ease-in 0.3s;
    border: solid 1px;
    background: var(--background);
    border-color: var(--secondary_accent);
    color: var(--secondary_accent);
}

.button-complimentary {
    transition: ease-out 0.11s;
    border:  solid #9f87af 1px;
    background: #2e2534;
    color: #ffff;
    border-radius: 10px;
    width: clamp(200px, 100px, 300px);
    font-weight: 600;
    font-size: clamp(1.4rem, 3vw, 1.5rem);
    padding: 10px;
    margin-bottom: 20px;
    text-align: start;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.button-complimentary:hover {
    transition: ease-in 0.3s;
    border: solid 1px;
    background: var(--background);
    border-color: var(--contrast);
    color: var(--contrast);
}