.navbar {
    background-color: #111; 
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.navbar-container {
    width: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    
}

.menu-icon {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
}

.auth-buttons {
    margin-right: auto;
}

.auth-buttons a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}
 
/* di ko na maurong sa pinakagilid yung logo,mb hahah kaya ginitna ko na lang*/
/* kasi brand yung nasa jsx na class name tapos dito logo also bat may maxwidth yung navbar container */

.logo {
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 10px;
    
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
}

.side-nav.open {
    width: 250px; /* Set the width when open */
}

.side-nav .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.side-nav .side-nav-link {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.2s;
}

.side-nav .side-nav-link:hover {
    background-color: #575757;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.active-link {
    color: #9b6ba4; 
    font-weight: bold;
}