*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body * {
    overflow-x: hidden;

}

body {
    height: 100vh;
    width: 100svw;
    background: var(--background);
    width: 100dvw;

    /* color palette */
    --background: #14181c;
    --primary_accent: #66a182;
    --secondary_accent: #9f87af;
    --tertiary_accent: #d36135;
    --contrast: #ffffff;
    --compliment: #445566;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 90vh;
    padding-top: 25%;
}

.center-container input {
    width: 1000px;
}

.title {
    color: var(--contrast);
    text-align: start;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.subtitle {
    color: var(--contrast);
    text-align: start;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.title-heading {
    width: 80%;
    color: var(--contrast);
    text-align: start;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    overflow: hidden;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 30px 0 30px;
    

}

.hero-container{
    width: 100%;
    padding: 10px;
    max-width: 100dvw;
    display: flex;
    gap: 20px;
    align-items: center;
}

.carousel-container {
    width: clamp(200px, 100%, 900px);
    height: 500px;
    position: relative;
}

.info-container {
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: white;
}

.content-segment {
    padding: 10px;
    width: 95%;
    background: var(--compliment);
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.text-segment {
    font-size: clamp(0.8rem, 2vw, 1rem);
    margin-left: 10px;
    text-align: start;
    width: 70%;
}

.cover-section {
    position: absolute;
    top: 360px;
    left: 50px;
    z-index: 10;
    width: 80%;
}

.cover-template {
    background: var(--compliment);
    height: 300px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid var(--contrast);
}

.cover-img {
    border-radius: 10px;
}

.cover-info {
    position: absolute;
    top: 50%;
    left: 30%;
}

.cover-text {
    width: 100%;
    color: var(--contrast);
    font-size: 24px;
    font-weight: 600;
}

.cover-year {
    position: absolute ;
    left: 110%;
    top: 9%;
    background: var(--secondary_accent);
    border-radius: 5px;
    text-align: center;
    width: 80px;
}

.cover-hearts {
    margin-top: 10px;
    color: var(--primary_accent);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cover-hearts-txt {
    margin-left: 10px;
    color: var(--primary_accent);
    font-size: 30px;
    font-weight: 600;
}


/* Account Settings */
.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.text-field {
    margin-bottom: 30px;
}

.details-container {
    width: 500px;
}

/* Profile */
.banner-template {
    background-color: var(--compliment);
    height: 400px;
    width: 100%;
}

.profile-section {
    position: absolute;
    top: 360px;
    left: 50px;
    display: flex;
    flex-direction: row;
}

.img-template {
    background: var(--contrast);
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.profile-info {
    margin-top: 110px;
    margin-left: 20px;
}

.movie-info {
    position: absolute;
    top: 650px;
    left: 150px;
}

.movie-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-container {
    display: flex;
    flex-direction: row;
}

.movie-template {
    background-color: var(--compliment);
    border-radius: 8px;
    border: 1px solid var(--contrast);
    width: 230px;
    height: 300px;
    margin: 0 20px 20px 0;
}

.gallery-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

/* Movie Page */
.cover-display {
    display: flex;
    flex-direction: column;
}

.movie-cover-template {
    background: var(--secondary_accent);
    border: 1px solid var(--contrast);
    border-radius: 8px;
    height: 350px;
    width: 230px;
    margin-bottom: 15px;
}

.movie-cover {
    border-radius: 8px;
    height: 100%;
}

.movie-controls {
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-style {
    width: clamp(80px, 140px, 160px);
    font-size: clamp(24px, 40px, 44px);
    color: var(--primary_accent);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cover-info-title {
    font-size: 40px;
    font-weight: 600;
    color: var(--contrast);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
    margin-bottom: 20px;
}

.year-tag {
    background: var(--secondary_accent);
    border-radius: 10px;
    font-size: 28px;
    width: 100px;
    text-align: center;
}

.icon {
    font-size: 40px;
    color: var(--compliment);
}

.body-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.body-content-controls {
    font-size: 28px;
    color: var(--contrast);
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--contrast);
}

.content-header {
    display: flex;
    flex-direction: column;
}

.control-tab {
    margin-left: 20px;
    padding-right: 20px;
    border-right: 1px solid var(--contrast);
    border-right: 1px solid var(--contrast);
}

.body-content-info {
    color: var(--contrast);
    width: 95%;
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.info-content-controls {
    background: var(--compliment);
    border-radius: 10px;
    width: 300px;
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
}

.icon-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.icon-set {
    color: var(--contrast);
    font-size: 34px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon-set.active {
    color: var(--primary_accent);
}

.primary-content {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.rating-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    flex-direction: column;
    color: var(--contrast);
    margin-bottom: 20px;
}

.rating {
    width: 100%;
    font-size: 45px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.comment-section {
    margin-bottom: 20px;
}

.share-section {
    color: var(--contrast);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    width: 100px;
}

.separator {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cast-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cast-tag {
    background: var(--compliment);
    color: var(--contrast);
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}

.tag-name {
    font-size: 22px;
    font-weight: 600;
}

.tag-role {
    font-size: 20px;
}

@media only screen and (max-width: 900px) {
    .hero-container{
        flex-direction: column;
    }
    .info-container{
        height: auto;
        width: 100%;
        align-items: center;
        
    }
    .title-heading{
        text-align: center;
    }
    .content-segment{
        display: none;
    }

    .profile-section {
        position: absolute;
        top: 380px;
    }

    .img-template {
        height: 150px;
        width: 150px;
    }

    .profile-info {
        margin-top: 80px;
    }
    
}