*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;

}

body {
    height: 100vh;
    width: 100svw;
    background: var(--background);
    width: 100dvw;

    /* color palette */
    --background: #14181c;
    --primary_accent: #66a182;
    --secondary_accent: #9f87af;
    --tertiary_accent: #d36135;
    --contrast: #ffffff;
    --compliment: #445566;
}

.title-heading {
    width: 80%;
    color: var(--contrast);
    text-align: start;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 30px 0 30px;
}

.hero-container{
    width: 100%;
    padding: 10px;
    max-width: 100dvw;
    display: flex;
    gap: 20px;
    align-items: center;
}

.carousel-container {
    width: clamp(200px, 100%, 900px);
    height: 500px;
    position: relative;
}

.info-container {
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: white;
}

.content-segment {
    padding: 10px;
    width: 95%;
    background: var(--compliment);
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.text-segment {
    font-size: clamp(0.8rem, 2vw, 1rem);
    margin-left: 10px;
    text-align: start;
    width: 70%;
}

.cover-section {
    position: absolute;
    top: 360px;
    left: 50px;
    z-index: 10;
    width: 80%;
}

.cover-template {
    background: var(--compliment);
    height: 300px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid var(--contrast);
}

.cover-img {
    border-radius: 10px;
}

.cover-info {
    position: absolute;
    top: 50%;
    left: 30%;
}

.cover-text {
    width: 100%;
    color: var(--contrast);
    font-size: 24px;
    font-weight: 600;
}

.cover-year {
    position: absolute ;
    left: 110%;
    top: 9%;
    background: var(--secondary_accent);
    border-radius: 5px;
    text-align: center;
    width: 80px;
}

.cover-hearts {
    margin-top: 10px;
    color: var(--primary_accent);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cover-hearts-txt {
    margin-left: 10px;
    color: var(--primary_accent);
    font-size: 30px;
    font-weight: 600;
}

@media only screen and (max-width: 1300px) {
    .hero-container{
        flex-direction: column;
    }
    .info-container{
        height: auto;
    }
    .content-segment{
        display: none;
    }
}